<?xml version="1.0" encoding="UTF-8"?>
<beans
    xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:p="http://www.springframework.org/schema/p"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd"> 
    <bean class = "org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor"></bean>
    <!-- 配置需要被Spring管理的Bean（创建，创建后放在了Spring IOC容器里面）-->
    <bean id="hello" class="com.Hello">
        <!-- 配置该Bean需要注入的属性（是通过属性set方法来注入的） -->
        <property name="info" value="Happy New Year!"/>
    </bean>
    
    <bean id = "OutHelper" class = "com.OutHelper" >
    	<property name="outputGenerator" ref = "JsonOutput2"></property>
    </bean>
    <bean id = "CSVOutput" class = "com.CSVOutput"></bean>
    <bean id = "JsonOutput2" class = "com.JsonOutput2"></bean>
    
    <bean id = "Customer" class = "com.Customer"  autowire="byName"></bean>
    <bean id = "Person" class = "com.Person" >
    	<property name="id" value = "33"/>
    </bean>
    
    <bean id = "Book" class = "pkl.Book">
    	<property name="list">
    		<list>
    			<value>1</value>
    			<ref bean = "Person"/>
    			<bean class = "com.Person">
    				<property name="id" value = "445"></property>
    			</bean>
    				
    		</list>
    	</property>
    	
    	<property name="set">
    		<set>
    			<value>1</value>
    			<ref bean = "Person"/>
    			<bean class = "com.Person">
    				<property name="id" value = "165"></property>
    			</bean>
    				
    		</set>
    	</property>
    	
    	<property name="map">
    		<map>
    			<entry key="1" value = "1"></entry>
    			<entry key="2" value-ref = "Person"></entry>
    			<entry key="3">
	    			<bean class = "com.Person">
	    				<property name="id" value = "235"></property>
	    			</bean>
    			</entry>	
    		</map>
    	</property>
    </bean>
    
    <bean id = "User" class = "aop.User">
    	<property name="name" value="YiiBaii Mook Kim" />
		<property name="url" value="http://www.yiibai.com" />
    </bean>
    
    <bean id = "HiBefore" class = "aop.HiBefore">
    </bean>
   <bean id="userProxy" 
                 class="org.springframework.aop.framework.ProxyFactoryBean">

		<property name="target" ref="User" />

		<property name="interceptorNames">
			<list>
				<value>HiBefore</value>
			</list>
		</property>
	</bean>
	<bean id = "HiAfter" class = "aop.HiAfter">
    </bean>
   <bean id="userProxy2" 
                 class="org.springframework.aop.framework.ProxyFactoryBean">

		<property name="target" ref="User" />

		<property name="interceptorNames">
			<list>
				<value>HiAfter</value>
			</list>
		</property>
	</bean>
	<bean id = "HiArount" class = "aop.HiArount">
    </bean>
   <bean id="userProxy3" 
                 class="org.springframework.aop.framework.ProxyFactoryBean">

		<property name="target" ref="User" />

		<property name="interceptorNames">
			<list>
				<value>HiArount</value>
			</list>
		</property>
	</bean>
	
</beans>
