<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">     
<hibernate-configuration>
    <session-factory>
        <!-- Database connection settings,Sql2000与2005有区别，此处是SQL２００５的 -->
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/mybatis</property>
        <property name="connection.username">root</property>
        <property name="connection.password">1234</property>

        <!-- JDBC connection pool (use the built-in) Hibernate自带的连接池，一般不用，注释掉！ -->
        <!-- <property name="connection.pool_size">1</property> -->

        <!-- SQL dialect（方言）用于指定何种数据库，可以在Hibernate的文档中查到 -->
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>

        <!-- Enable Hibernate's automatic session context management -->
        <!-- <property name="current_session_context_class">thread</property> -->

        <!-- Disable the second-level cache 二级缓存，优化Hibernate时再说！ -->
        <property name="cache.provider_class">
            org.hibernate.cache.NoCacheProvider
       </property>

        <!-- Echo all executed SQL to stdout 是否显示生成的SQL生成语句！开发时，一定要显示，方便调试！ -->
        <property name="show_sql">true</property>
        <!-- 使显示的sql格式化 -->
        <property name="format_sql">true</property>
        <!-- Drop and re-create the database schema on startup hbm是Hibernate Maping 
            ddl是数据定义语句 这句话的意思是：是否要Hibernate指定映射成数据定义语句。 -->
        <!-- <property name="hbm2ddl.auto">update</property> -->

        <!--设置自动生成数据库表，update时自动更新表结构
        <property name="hibernate.hbm2ddl.auto">create</property>
         -->
        <mapping resource="WorkerMan.hbm.xml" />
        <mapping class = "com.hibernatedemo.Stu"></mapping>
        <mapping resource="Emp.hbm.xml"></mapping>
        <mapping resource="Addr.hbm.xml"></mapping>
    </session-factory>
</hibernate-configuration>